#playground{
    margin: 0 0 2em 0;
    height: 200px;
    border: 2px solid #51BAA4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
pre code{
    color: #000;
}
